/* Base Styles */
:root {
    --black: #37322f;
    --white: #eee6d2;
    --green: #c8fcc5;
}

body {
    background-color: var(--white);
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header,
footer {
    color: var(--green);
    background-color: var(--black);
    text-align: center;
}

header h1,
nav {
    margin: 0;
    margin: .5rem;
    color: var(--green);
}

nav a {
    color: var(--green);
}

nav a:hover {
    color: var(--black);
    background-color: var(--green);
}

header a {
    text-decoration: none;
}

/* End Base Styles */

/* Header */

/* End Header */

/* Index */
#index-main {
    background-image: url('/imgs/test.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-nav {
    background-color: var(--black);
    padding: .5rem 0;
}

#index-nav:hover {}

.index-links {
    padding: .5rem;
}

.index-links:hover {}

/* End Index */

/* Recipe Generator */
#recipe-btn {
    background-color: var(--black);
    color: var(--green);
}

@keyframes fetch {
    0% {
        background-color: var(--black);
    }
    
    50% {
        background-color: var(--green);
    }

    100% {
        background-color: var(--black);
    }
}

.recipe-btn-active {
    animation-name: fetch;
    animation-duration: .25s;
    animation-iteration-count: infinite;
}

.recipe-card {
    color: var(--green);
    background-color: var(--black);
    padding: 1rem;
    margin: 1rem;
}
/* End Recipe Generator */

/* Recipe Form */
form,
#search-ctn {
    margin: auto;
    max-width: 300px;
}

form div {
    padding-top: 1rem;
}

#submitRecipeBtn {
    margin-top: 1rem;
    padding: .5rem;
}

input,
textarea {
    display: block;
    width: 100%;
}

/* End Recipe Form */